@media only screen and (max-width: 480px) {
  body {
    background-repeat: repeat !important;
    background-position: 100% !important;
  }
  .bannerLeft, .bannerRight {
    width: 100% !important;
  }
  .bannerLeft {
    height: inherit;
  }
}

* {
  margin: 0 auto;
}

body {
  background: url(../../src/images/fundo.jpg);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: 50%;
}

.main {
  .header {
    background: linear-gradient(to top left, #caf3ff, #73c391);
    width: 100%;
    height: 100px;
    .name {
      width: 90%;
      h1 {
        padding-top: 25px;
        color: #fff;
      }
    }
  }
  .banner {
    height: 300px;
    width: 90%;
    .bannerLeft {
      width: 50%;
      height: 400px;
      margin: 0px;
      background-image: url(../../src/images/me.jpg);
      float: left;
      background-size: 100%;
      background-repeat: no-repeat;
    }
    .bannerRight {
      width: 50%;
      height: inherit;
      background: #bec5c5;
      margin: 0px;
      display: inline-block;
      h1 {
        font-size: 2.1em;
        padding-left: 10px;
        padding-top: 15px;
        color: #fff;
        font-family: monospace;
      }
    }
  }
}
